body {
	font-family: Arial, sans-serif;
}

@keyframes pulse {
	0% {
		opacity: 0.8;
	}

	50% {
		opacity: 0.3;
	}

	100% {
		opacity: 0.8;
	}
}

#counties .active {
	animation: pulse 1s ease infinite;
}

#county-borders {
	fill: none;
	stroke: black;
	stroke-width: 0.15px;
	stroke-linejoin: round;
	stroke-linecap: round:
	pointer-events: none;

}

#state-borders {
	fill: none;
	stroke: black;
	stroke-width: 0.3px;
	stroke-linejoin: round;
	stroke-linecap: round:
	pointer-events: none;
}

div.tooltip {
	position: absolute;
	text-align: center;
	height: 15px;
	padding: 1px;
	font-size: 14px;
	color: black;
	background: white;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 4px;
	pointer-events: none;
	z-index: 3;
	box-shadow: 2px 2px 5px black;
}

rect.cover {
	position: absolute;
	fill: rgba(255,255,255,0.9);
	box-shadow: 2px 2px 5px black;
}

g.legend {
	position: absolute;
	stroke: black;
	stroke-width: 0.5px;
	font-size: 8px;
}

g.display {
	display: block;
	z-index: 2;
	position: relative;
}

g.map {
	z-index: 1;
	position: relative;
	display: block;

	margin-left: auto;
	margin-right: 0;
}

form {
	display: inline-block;
}

form#options {
	position: absolute;
}

form label {
	font-size: 12px;
}

form span {
	padding-left: 5px;
	padding-right: 5px;
}

button {
	position: absolute;
	right: 10px;
}

.bar {
	stroke: black;
	stroke-width: 0.5px;
}

.x.axis path {
	fill: none;
	stroke: #000;
}

.y.axis {
	display: none;
}

#slider {
	margin: auto;
}

.sliderTip {
    position: absolute;
    z-index: 1020;
    display: block;
    padding: 5px;
    font-size: 11px;
    visibility: visible;
    margin-top: -2px;
    bottom:120%;
    margin-left: -2em;
}

.sliderTip .sliderTip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top: 5px solid #000000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    width: 0;
    height: 0;
}

.sliderTip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.ui-slider {
    background: #dfe0e0 repeat-x bottom left;
    border-bottom: 1px solid #EBEAE5;
    height: 15px;
    margin: 0;
    padding: 0px;
}

.ui-slider-range {
    height: 10px;
    border-bottom: 3px solid red;
    position: relative;
}

.ui-slider-handle {
    background: #ED6B51 !important;
    border-bottom: 1px solid #a8a79f !important;
    border-right: 1px solid #a8a79f !important;
    height: 20px !important;
    width: 10px !important;
    margin: 0 !important;
    padding: 0px !important;
    display: inline-block !important;
    top: -4px !important;
}